 .line::before {
  content: '';
  border-left: 0.5rem solid #f66;
  position: relative;
  left: -0.5rem;
  height: 75%;
  /* top: 12%; */
 }
 .block{
   display: block
 }
 html,body{ 
   /* overflow: hidden; */
   height: 100%;
   margin: 0;
   font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
   color: #333;
 }
 h1 {
  position: relative;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.9rem;
  text-transform: uppercase;
  margin: 1rem 0;
  left: 0.4rem;
  cursor: pointer;
  letter-spacing:1rem
 }
 a {
  color: #999;
  text-decoration: none;
  transition: color .2s ease;
  cursor: pointer
}
a:hover {
 color: #f33;
}
p {
 font-size: 1.4rem;
 line-height: 2em;
 margin: 0;
 letter-spacing: 0.2rem;
}
.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #bfcbd9;
  border-color: #c4c4c4;
  color: #1f2d3d;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}